<% http_header("style/form.css", "/funcs.js", "/vpn_client.js") %>
<% body_header("_vpn_client", "vpn_client_advanced.htm", "vpn_client_edit") %>
<div class="page_title">Selected Safe Browsing Client</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TR><TD nowrap colspan=2 align=center><input id="cancel" class="cancel_bt" type="button" name="Cancel" value="$cancel_mark" onClick="location.href=\'vpn_client_advanced.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_vpn_client_add(document.forms[0],\'edit\')"></TD></TR>');
else
	document.write('<TR><TD nowrap colspan=2 align=center><input id="cancel" class="cancel1_bt" type="button" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" value="$apply_mark" disabled></TD></TR>');
</script>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
<% vpn_client_items_xss() %>

var select_editnum="<% cfg_get("vpn_client_editnum") %>";

var apply_flag = 0;

function loadvalue()
{
	var cf=document.forms[0];
	var str = eval ( 'vpn_selected_client' + select_editnum );
	var each_info=str.split(' ');
	cf.dv_name.value=each_info[1].replace(/&#92;/g, "\\").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&");
	cf.rsv_mac.value=each_info[0];
}

window.onunload = function leavepage(){if(apply_flag == 0) top.back_flag=1;};
</script>
<TR style="display:none;">
	<TD nowrap>$info_mark_ip</TD>
	<TD nowrap>
	<input type="text" name="rsv_ip1" id="rsv_ipaddress1" maxLength="3" size="3" autocomplete="off" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="rsv_ip2" id="rsv_ipaddress2" maxLength="3" size="3" autocomplete="off" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="rsv_ip3" id="rsv_ipaddress3" maxLength="3" size="3" autocomplete="off" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="rsv_ip4" id="rsv_ipaddress4" maxLength="3" size="3" autocomplete="off" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD nowrap>$info_mark_mac</TD>
	<TD nowrap>
	<input type="text" value="" name="rsv_mac" id="rsv_mac" maxlength="17" size="20" onKeyPress="return getkey('mac',event)">
	</TD>
</TR>
<TR>
	<TD nowrap>$lan_mark_name</TD>
	<TD nowrap>
	<input type="text" name="dv_name" id="device_name" maxLength="20" size="16" onKeyPress="return getkey('ssid', event)">
	</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_vpn_client") %>
</FORM>
</BODY>
</HTML>
